body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.Naming-color{
    color: orange;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    text-align: justify;
    padding-right: 70px;
}
.linked-button{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background-image: linear-gradient(blue, skyblue);
    border-radius: 10px;
}
.Top-heading{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Middle-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
