body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.Naming-color{
    color: orange;
}
h1{
    font-size: 40px;
}
p{
    font-size: 16px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    text-align: justify;
    padding-right: 10%;
}
.linked-button{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background-image: linear-gradient(blue, skyblue);
    border-radius: 10px;
}
.Top-heading{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Middle-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width img{
    width: 100%;
}
.half-width_2{
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25px;
    text-align: justify;
    box-shadow: 10px 10px 40px gray ;
}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 75%;
}
#sebpo{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;
}
#ibaite{
    border-left: 7px solid;
    border-image: linear-gradient(orange, yellow);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}